* {
  font-family: "JetBrains Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

main {
  max-width: 450px;
  margin: 0 auto;
}

button, input, .my-style {
  border-radius: 5px;
  border: solid 1px lightgrey;
  padding: 10px;
}

.my-list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-gap: 5px;
}